.partyWindow {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.partyMembers {
  height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.partyMemberButton {
  margin: 2% 2% 0 2%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #ccc;
  color: white;
  box-sizing: border-box;

  flex: 1; /* makes all 4 slots equal height */
}

/* Hover highlight (same as shop) */
.partyMemberButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.selectedPartyMember {
  animation: pulseSelected 1.2s infinite ease-in-out;
}

/* Header row (name left, level right) */
.partyMemberHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Name styling */
.partyMemberName {
  font-weight: bold;
}

/* Status row (HP, MP, etc.) */
.partyMemberStatus {
  margin-top: 1%;
  font-style: italic;
  color: #cccccc;
}

.buttonContainer {
  height: 10%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly; /* buttons spread out */
  text-align: center;
}

.buttonContainer button {
  margin: 2%;
}

@keyframes pulseSelected {
  0% {
    background-color: rgba(255, 255, 255, 0.05);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.15);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
