.tradeWindow {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.offers {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: row;
}

.theirOffer,
.yourOffer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.theirOffer h2,
.yourOffer h2 {
  text-align: center;
}

.theirOffer {
  border-right: 1px solid white;
}

.offerActions {
  display: flex;
  width: 100%;
  height: 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.offerActions input {
  width: 20%;
}

.theirItemsOffer,
.theirGoldOffer,
.yourItemsOffer,
.yourGoldOffer {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.offerItems,
.offerGold {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.tradeActions {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-around;
  align-items: center;
}

.messages {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
}
