.chatWindow {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.messagesContainer {
  height: 85%;
  padding: 2%;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: scroll;
  display: flex;
}

.inputRow {
  display: flex;
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  gap: 2%;
}

.inputRow input {
  flex: 1; /* take all remaining space */
}

.inputRow button {
  flex: 0 0 auto; /* size to content */
}

.chatName {
  font-weight: bold;
  margin-right: 1%;
  color: #7fc8ff; /* retro blue */
}
