.login {
  display: flex;
  flex-direction: column;
}

.login h3 {
  text-align: center;
  margin: 0;
}

.loginForm {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login input {
  width: 95%;
  margin: 0 auto;
  margin-top: 5%;
}

.login button {
  align-self: center;
  width: auto;
}

.messages {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .error {
  color: red;
  text-align: center;
}

.login .success {
  color: green;
  text-align: center;
}

.login button {
  padding: 5%;
}
