.partyWindow {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.partyMembers {
  height: 70%;
  padding: 2%;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: scroll;
  display: flex;
}

.partyInvite {
  box-sizing: border-box;
  padding: 2%;
}

.statusMessages {
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  align-items: center;
}

.inputRow {
  display: flex;
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  gap: 2%;
}

.inputRow input {
  flex: 1; /* take all remaining space */
}

.inputRow button {
  flex: 0 0 auto; /* size to content */
}

.errorMessage {
  color: #ff4d4d; /* retro red */
  font-weight: bold;
  height: 100%;
}

.successMessage {
  color: #4dff4d; /* retro green */
  font-weight: bold;
  height: 100%;
}