.login {
    margin: 0 1.5vw 0 1.5vw;   
}

.login h3 {
    text-align: center;
}

.loginForm {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login input {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: 'Press Start 2P', cursive;
}

.login button {
    align-self: center;
    width: auto;
}