.login {
    margin: 0 10% 0 10%;   
}

.login h3 {
    text-align: center;
}

.loginForm {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login input {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
}

.login button {
    align-self: center;
    width: auto;
}