.encounterActionComponentStyle {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.actionRow {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.actionRow button,
.emptyAction {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.selected {
  border-color: red;
}
