.userInterface {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top9,
.bottom9 {
  flex: 1;
  display: grid;
  grid-template-areas:
    "upleft up upright"
    "left center right"
    "downleft down downright";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
