.controlsComponentStyle {
  display: grid;
  height: 100%;

  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
    "ten eleven twelve"
    "thirteen fourteen fifteen"
    "sixteen seventeen eighteen";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);

  justify-items: center;
  align-items: center;
}
